{% extends "layout.html" %}
{% block body %}

    <style>

    </style>

          <div class="container">
               <div class="row">
                   <h1>Sorry </h1><h3>We can not find this page!</h3>
                   <p>(It could have been misplaced.)</p>
               </div>
               <div class="row">

                    <img src="../static/images/pnf404-1.jpg"  height="483" width="600" alt="">

               </div>

               </div>
          </div>



{% endblock %}
