{% extends "layout.html" %}
{% block body %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153057757-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-153057757-1');
    </script>


    <style>

    </style>

          <div class="container">
              <div id="Tutorials" class="divider"><span></span><span>Video Tutorials</span><span></span></div>
               <div class="row">
                   <div class="col-md-6">
                        <h3>Wormcat Install </h3>
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/vL5FN30HSsk" allowfullscreen></iframe>
                        <p>Demo installation of Wormcat on a Windows 10 Machine. </p>
                   </div>
                   <div class="col-md-6">
                        <h3>Wormcat Run </h3>
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/K46EXZBxDBQ" allowfullscreen></iframe>
                        <p>Demo execution of Wormcat on a Windows 10 Machine. </p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                        <h3>Wormcat Batch Install </h3>
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/tbZ8t8tFhuc" allowfullscreen></iframe>
                        <p>Demo installation of Wormcat Batch of a Windows 10 Machine. </p>
                   </div>
                   <div class="col-md-6">
                        <h3>Wormcat Batch Run </h3>
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/juvgMNhmTok" allowfullscreen></iframe>
                        <p>Demo execution of Wormcat Batch on a Windows 10 Machine. </p>
                   </div>
               </div>

               </div>

          </div>




{% endblock %}
